name: Build Python Distributions

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup UV
        uses: astral-sh/setup-uv@v7

      - name: Build Distributions
        run: uv build

      - name: Upload Distribution Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: python-dist
          path: dist
